<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{TITLE}</title>

        <link href="template/paging_css.css" rel="stylesheet" type="text/css"/>
        <link href="template/template_css.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="template/table_css.css" type="text/css"/>
    </head>

    <body>
        <div class="wrapper">
            <div class="header"><img src="template/images/prototype.png" height="100"></img>RestUPWeb</div>
            <div>{CONTENT}</div>
            <div class="footer"><p>
                    &copy;RestUP Footer
                </p></div>
        </div>
    </body>
</html>